* {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.parent {
    width: 100%;
}

.intro {
    width: 70%;
    height: 100px;
    float: left;
}

.contacts {
    margin-top: 70px;
    height: 100px;
}

.parent2 {
    width: 100%;
    margin-top: 100px;
}

.experience1 {
    width: 70%;
    height: 100px;
    float: left;
}

.contact2 {
    margin-top: 70px;
    height: 100px;
}